{% extends "base_page.html" %}

{% block contents_area %}
<div class="row mt-3">
    <div class="col-12 text-center">
        <h2 id="sample_target">Sign Up Page</h2>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12">
        <form method="POST" action=".">
            {% csrf_token %}
            <div class="form-group">
                <label for="userName">User Name</label>
                <input type="text" class="form-control" id="userName" placeholder="사용자 이름" name="userName">
            </div>
            <div class="form-group">
                <label for="userPassword">Password</label>
                <input type="password" class="form-control" id="userPassword" placeholder="비밀번호" name="userPassword">
            </div>
            <div class="form-group">
                <label for="passwordCheck">Password Check</label>
                <input type="password" class="form-control" id="passwordCheck" placeholder="비밀번호" name="passwordCheck">
            </div>
            <div class="form-group">
                <label for="userEmail">E-Mail</label>
                <input type="email" class="form-control" id="userEmail" placeholder="사용자 이메일" name="userEmail">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
{% endblock %}

